.borda_aqua {
    width: 225px;
    height: 350px;
    border: 1px solid aqua;
    border-radius: 1px;
}

.borda_black {
    width: 225px;
    height: 350px;
    border: 1px solid black;
    border-radius: 1px;
}

.borda_blue {
    width: 225px;
    height: 350px;
    border: 1px solid blue;
    border-radius: 1px;
}

.borda_brown {
    width: 225px;
    height: 350px;
    border: 1px solid brown;
    border-radius: 1px;
}

.borda_cyan {
    width: 225px;
    height: 350px;
    border: 1px solid cyan;
    border-radius: 1px;
}

.borda_gray {
    width: 225px;
    height: 350px;
    border: 1px solid gray;
    border-radius: 1px;
}

.borda_green {
    width: 225px;
    height: 350px;
    border: 1px solid green;
    border-radius: 1px;
}

.borda_lime {
    width: 225px;
    height: 350px;
    border: 1px solid lime;
    border-radius: 1px;
}

.borda_magenta {
    width: 225px;
    height: 350px;
    border: 1px solid magenta;
    border-radius: 1px;
}

.borda_maroon {
    width: 225px;
    height: 350px;
    border: 1px solid maroon;
    border-radius: 1px;
}

.borda_navy {
    width: 225px;
    height: 350px;
    border: 1px solid navy;
    border-radius: 1px;
}

.borda_olive {
    width: 225px;
    height: 350px;
    border: 1px solid olive;
    border-radius: 1px;
}

.borda_orange {
    width: 225px;
    height: 350px;
    border: 1px solid orange;
    border-radius: 1px;
}

.borda_pink {
    width: 225px;
    height: 350px;
    border: 1px solid pink;
    border-radius: 1px;
}

.borda_purple {
    width: 225px;
    height: 350px;
    border: 1px solid purple;
    border-radius: 1px;
}

.borda_red {
    width: 225px;
    height: 350px;
    border: 1px solid red;
    border-radius: 1px;
}

.borda_silver {
    width: 225px;
    height: 350px;
    border: 1px solid silver;
    border-radius: 1px;
}

.borda_teal {
    width: 225px;
    height: 350px;
    border: 1px solid teal;
    border-radius: 1px;
}

.borda_white {
    width: 225px;
    height: 350px;
    border: 1px solid white;
    border-radius: 1px;
}

.borda_yellow {
    width: 225px;
    height: 350px;
    border: 1px solid yellow;
    border-radius: 1px;
}
